<h1 class="text-center"> Listing all articles </h1>
<div class='text-center'>
  <%== pagy_bootstrap_nav(@pagy).html_safe %>
<div>
<%= render 'articles/article', obj: @articles %>
<div class='text-center'>
  <%== pagy_bootstrap_nav(@pagy).html_safe %>
<div>