<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="#"> Alpha Blog</a>
      by <a href="#">Damilola Ale</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %> 
        </ul>
      </nav>
  </footer>
</div>